<h1> All brands </h1>

<% @brands.each do |brand| %>
<h3>
  <%= brand.name %>
</h3>

  <ul>
    <p> Items: </p>
      <% brand.items.each do |item| %>
      <li>
        Category: <%= item.category %>
      </li>
      <li>
        Color: <%= item.color  %>
      </li>
      <li>Fabric: <%= item.fabric %></li><br>
      <% end %>
  </ul>
<% end %>
