<h1>Your Closet</h1>
<%= link_to "See my outfits", outfits_path %>
<ul>
<% @items.each do |item| %>
  <li>
    Category: <%= item.category %>
  </li>
  <li>
    Color: <%= item.color  %>
  </li>
  <li>
    Fabric: <%= item.fabric %>
  </li><br>
  <%end %>
</ul>
