<h2>Welcome!</h2>

<%= link_to "My Outfits", outfits_path  %>
<%= link_to "My Closet", items_path %>
<%= link_to "My Brands", brands_path %>

<br>  <%= link_to "Log out", logout_path, method: "delete" %>
