<h1>Login Form</h1>
 <%= form_tag '/signin' do %>
 <%= label_tag :name %>
 <input name="user[name]" id="user_name">
 <%= label_tag :password %>
 <input type="password" name="user[password]" id="user_password">
 <%= submit_tag 'Sign In' %>
<%end%>
